.main {
  background-color: $main-text-color;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 60px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;

  &__explore {
    padding: 0 48px;
    width: 324px;
    height: 56px;
    border-radius: 50px;
    font-weight: 700;
    line-height: 27px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  &__explore:hover {
    height: 56px;
    border-radius: 40px;
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &__explore:active {
    border-radius: 40px;
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
