.recommended {
  &__products {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-content: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-content: stretch;
    }
  }
}

.product__photo {
  transition: transform 0.4s;
}

.product__photo:hover {
  transform: scale(1.05);
}
